
<ion-header>

  <ion-navbar>
    <ion-title >
      <ion-row>
        <ion-col col-1>
            <ion-icon class="icon" name="ios-person-outline" (click)="editprofile()"></ion-icon>
        </ion-col>
        <ion-col col-2 class="titlename">
            <ion-icon name="settings" (click)="settings()"></ion-icon>
        </ion-col>
        <ion-col col-6 class="titlename">
            {{'Home'|translate}}
        </ion-col>
        <ion-col col-2 class="titlename" (click)="firstHome()">
            {{'Adds'|translate}}
        </ion-col>
      </ion-row>     
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-input type="text" [(ngModel)]="searchInput" (ionChange)="getItems()" placeholder="{{'search'|translate}}" class="input"></ion-input>
    
<ion-list>
<ion-row *ngIf="!showSearch" class="rowitems">
<!-- <ion-col col-6 >
<img src="assets/imgs/iPhone 67 – 7.png" (click)="gosellitems()">
<p>{{'Sell items'|translate}}</p>
</ion-col> -->
  
<ion-col col-6 class="divcol">
    <div class="containdiv">
        <img src="assets/imgs/Serivice provider.png" (click)="goServicesProv()">
        <p>{{'Services Providers'|translate}}</p>
    </div>
</ion-col>
  
<ion-col col-6  class="divcol">
    <div class="containdiv">
        <img src="assets/imgs/Technician.png" (click)="gotechnicians()">
        <p>{{'Technicians'|translate}}</p>
    </div>
</ion-col>
</ion-row>
<div  *ngIf="showSearch">
    <ion-row class="controw"   *ngFor="let item of searchItems">
        <ion-col col-2>
        <img class="mobile" *ngIf="item.images.length > 0" [src]="mainService.imageUrl+item.images[0].image_url"
            (click)="goToAddDetails(item)">
        </ion-col>
        <ion-col>
            <p class="text">{{item.title}}</p>
            <ion-row>
                <ion-col col-6 style="text-align:start">        
                    <span class="pricemobile">{{item.price}}</span>
                </ion-col>
                <ion-col col-6 style="text-align:end">
                    <ion-icon class="icons" class="icons" name="call" ></ion-icon>
                    <ion-icon class="icons" class="icons" name="mail" (click)="goToChat(item.user.person)"></ion-icon>
                </ion-col>
            </ion-row>
    
        </ion-col>
    </ion-row>
</div>


<ion-row *ngIf="!showSearch"  class="rowitems">
<ion-col col-6 class="divcol" *ngFor="let category of salesCategory" (click)="goitemdetails(category.name_ar,category.id)">
    <div class="containdiv">
        <img [src]="mainService.imageUrl+category.img">
        <p *ngIf="mainService.lang == 'ar'">{{category.name_ar}}</p>
        <p *ngIf="mainService.lang == 'en'">{{category.name_en}}</p>
    </div>
</ion-col>
</ion-row>
</ion-list>
<!-- 
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll> -->
     
</ion-content>
