
<ion-header>

<ion-navbar>
<ion-title>Technicians</ion-title>
</ion-navbar>

</ion-header>


<ion-content padding>

<!-- <ion-item class="select">
<ion-select [(ngModel)]="technicians">
<ion-option selected="true" >Cleaning</ion-option>
<ion-option >Remodeling Kitchens</ion-option>
<ion-option >Concrete work</ion-option>
<ion-option >Electrical wiring</ion-option>
<ion-option >Landscaping</ion-option>
<ion-option >Maid service</ion-option>
<ion-option >Pest control</ion-option>
</ion-select>
</ion-item> -->
      
<ion-row>
<ion-col col-11 class="found">
{{tecNo}} found in your area
</ion-col>
<ion-col col-1 (click)="gomap()">
    <img class="graypin" src="assets/imgs/graymappin.png">
</ion-col>
</ion-row>

<ion-list>

<ion-item *ngFor="let tech of alltechs" class="item" (click)="gomaptech(tech)">
<img class="imgrate" src="assets/imgs/rate.png">
<ion-icon class="imgstar" name="star"></ion-icon>
<span class="ratenumber" *ngIf="tech.rate!=null">{{tech.rate}}</span>
<span class="ratenumber" *ngIf="tech.rate==null">0</span>
<ion-avatar item-start>
<img class="techimg" [src]="mainService.imageUrl+tech.profile_image">
</ion-avatar>
<h2>{{tech.name}}</h2>
<!-- <h3>Individual</h3> -->
<p>{{tech.available_hours}}hr</p>
<!-- <img class="flag" src="assets/imgs/flag.jpg"> -->
</ion-item>
</ion-list>
</ion-content>
