
<ion-header>

<ion-navbar>
<ion-title>{{'Techlocations'|translate}}</ion-title>
</ion-navbar>

</ion-header>


<ion-content>
<!-- <ion-item class="select">
<ion-select [(ngModel)]="technicians">
<ion-option selected="true" >{{'Cleaning'|translate}}</ion-option>
<ion-option >{{'Remodeling Kitchens'|translate}}</ion-option>
<ion-option >{{'Concrete work'|translate}}</ion-option>
<ion-option >{{'Electrical wiring'|translate}}</ion-option>
<ion-option >{{'Landscaping'|translate}}</ion-option>
<ion-option >{{'Maid service'|translate}}</ion-option>
<ion-option >{{'Pest control'|translate}}</ion-option>
</ion-select>
</ion-item> -->
<ion-row>
<ion-col col-11 class="found">
  {{tecNo}} found in your area
</ion-col>
<ion-col col-1>
 <img class="graypin" src="assets/imgs/graymappin.png">
</ion-col>
</ion-row>


<div #map id="map" style="height:100%;" ></div>

<ion-list>

<ion-item  *ngIf="flag" class="item" (click)="gotechrate()">
    <img class="imgrate" src="assets/imgs/rate.png">
    <ion-icon class="imgstar" name="star"></ion-icon>
    <span *ngIf="techNow.rate" class="ratenumber">{{techNow.rate}}</span>
    <span *ngIf="techNow.rate==null" class="ratenumber">0</span>
    <ion-avatar item-start>
    <img class="techimg" [src]="mainService.imageUrl+techNow.profile_image">
    </ion-avatar>
    <h2>{{techNow.name}}</h2>
    <!-- <h3>Individual</h3> -->
    <p>{{techNow.available_hours}} {{'hr'|translate}}</p>
    <!-- <img class="flag" src="assets/imgs/flag.jpg"> -->
</ion-item>
  </ion-list>
</ion-content>
