
<ion-header>
    
    <ion-navbar>
    <ion-title class="signup">{{'Sign Up'|translate}}<br><span class="personal">{{'(Individual Technician)'|translate}}</span><br>
    <span class="locationstitle">{{'identity card scan'|translate}}</span>
    </ion-title>
    </ion-navbar>
    
    </ion-header>
  


<ion-content padding>
    <div><button ion-button round clear class="confirm" (click)="addfront()">{{'Add ID card Front'|translate}}</button></div>
    <img *ngIf="imgfront" src="{{imgfront}}">
    <div><button ion-button round clear class="confirm" (click)="addback()">{{'Add ID card Back'|translate}}</button></div>
    <img *ngIf="imgback" src="{{imgback}}">
    <button ion-button round clear class="confirm" (click)="confirm()">{{'Confirm'|translate}}</button>
    
</ion-content>
